<!--&lt;!&ndash; schoolstore_app/templates/home.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>School Store</title>-->
<!--</head>-->
<!--<body>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a href="{% url 'login' %}">Login</a></li>-->
<!--            <li><a href="{% url 'register' %}">Register</a></li>-->
<!--            <li>-->
<!--                <a href="#">Department</a>-->
<!--                <ul>-->
<!--                    {% for department in departments %}-->
<!--                    <li><a href="{{ department.wikipedia_link }}">{{ department.name }}</a></li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--    <button onclick="window.location.href='{% url 'login' %}'">Login</button>-->
<!--</body>-->
<!--</html>-->
